{{define "layout"}}

<!DOCTYPE html>
<html class="pc" lang="ja">
<head>
    <link rel="stylesheet" href="/static/css/application.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>映画レビューサイト</title>
    <meta charset="utf-8">
    <style>
        .pagination2 {
            display: inline-block;
            padding-left: 500px;
        }

        .pagination2 a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }

        .pagination2 a.active {
            background-color: #4CAF50;
            color: white;
        }

        .pagination2 a:hover:not(.active) {background-color: #ddd;}
    </style>
    </head>
<body class="yj950-2">
<div id="wrapper">

    {{ template "navbar" }}

    <div class="bgcolor-white pt1em pb1em" id="contents">
        <div id="main_cnt_wrapper">
            <div id="yjContentsBody">
                <div class="yjContainer">

                    {{ template "content" . }}


                    <div id="yjSub">
                        <aside class="section">
                            <h4 class="text-small hr-bottom--thin no-space-bottom">
                                <i class="material-icons">grade</i> 投稿ランキング
                            </h4>
                            <ul class="listview listview--condensed text-small">
                                　　

                                {{ range $i, $v := .rank}}
                                <li data-cinema-id="346394">
                                    <a href="/products/show?id={{ $v.Id }}">
                                        <div class="box">
                                            <div class="box__cell w40 align-center">
                                                <p class="label bgcolor-gray-lighter align-center">
                                                    {{ add $i }}
                                                </p>
                                            </div>
                                            <div class="box__cell pl1em">
                                                <p class="text-xsmall no-space">
                                                    {{ $v.Title }}
                                                </p>
                                                <img src="{{ $v.ImageUrl }}" alt="no image" style="height: 200px">
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {{ end }}

                            </ul>
                        </aside>
                    </div>

                </div>

            </div>

        </div>

        <div class="pagination2">
            <a href="#">&laquo;</a>
            <a href="/?page=1">1</a>
            <a href="/?page=2">2</a>
            <a href="/?page=3">3</a>
            <a href="/?page=4">4</a>
            <a href="/?page=5">5</a>
            <a href="/?page=6">6</a>
            <a href="/?page=7">7</a>
            <a href="/?page=8">8</a>
            <a href="/?page=9">9</a>
            <a href="#">&raquo;</a>
        </div>

        <div class="copyright">
            Copyright (C) 2019  y.ikezawa
        </div>
    </div>
</div>


</body>
</html>
{{ end }}