{{ define "navbar" }}
    <div id="yjContentsHeader">
    <nav class="globalnav">
        <div class="globalnav__menu">
            <ul class="gmenu">
                <li class="logo" style="float: left">
                    <a href="/">gomooovi</a>
                </li>
                <li class="entry_button" style="float: right">
                    <a rel="nofollow" data-method="delete" href="/logout">ログアウト</a>
                </li>
                <li class="entry_button" style="float: right">
                    <a href="/users/2">マイページ</a>
                </li>
                <li class="entry_button" style="float: right">
                    <a href="/products/search">投稿する</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
{{ end }}