{{ define "navbar" }}
    <div id="yjContentsHeader">
    <nav class="globalnav">
        <div class="globalnav__menu">
            <ul class="gmenu">
                <li class="logo" style="float: left">
                    <a href="/">gomooovi</a>
                </li>
                <li class="entry_button" style="float: right">
                    <a rel="nofollow" href="/login">ログイン</a>
                </li>
                <li class="entry_button" style="float: right">
                    <a href="/signup">新規登録</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
{{ end }}