{{ define "content"}}
<div id="yjMain">
    <article class="section">
        <div class="container">
            <header class="header header--section">
                <h2 class="text-middle">
                    <i class="icon-movie color-gray-light"></i>投稿
                </h2>
            </header>
            <div>
                <ul class="listview js-lazy-load-images">
                    <li style="margin-bottom: 15px">
                        <a class="listview__element--right-icon" href="#">
                            <div class="box">
                                <div class="box__cell w80">
                                    <div class="thumbnail thumbnail--photo">
                                        <div class="thumbnail__figure" style="background-image: url({{ .ImageUrl }});"></div>
                                    </div>
                                </div>
                                <div class="box__cell pl1em">
                                    <h3 class="text-middle text-break color-sub">
                                        {{ .Title }}
                                    </h3>
                                    <p class="text-xsmall">
                                    </p>
                                    <p class="text-xsmall opacity-60"></p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <form class="new_review" id="new_review" action="/reviews/create?product={{ .Id }}" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="q7cLxYVQpgFn7P5hnmOYKI2nAxVFYKg5bzChnkGrvahk63qAm8toinFn+z33PD8wianfXJwHoFMUHwnNuVOetQ==">
            <div style="margin: 8px 0">
                <label style="{&quot;margin-right&quot;=>8}" for="review_評価">評価</label>
                <input placeholder="評価" value="1" max="10" min="1" html="{:class=>&quot;search__query&quot;, :style=>&quot;text-align: right;&quot;}" type="number" name="rate" id="review_rate">
            </div>
            <div style="margin: 8px 0">
                <textarea placeholder="レビューを書いてね！" style="width: 100%;height: 300px;" name="review" id="review_review"></textarea>
            </div>
            <div class="row">
                <div class="col10 push1">
                    <button name="button" type="submit" class="btn btn--block">
                        投稿する<i class="icon-arrow-right"></i>
                    </button>
                </div>
            </div>
        </form>
    </article>
</div>
{{ end }}