{{ define "content" }}

<span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
<div id="yjMain">
    <article class="section">
        <div class="container">
            <header class="header header--section">
                <h2 class="text-middle">
                    <i class="icon-movie color-gray-light"></i>作品を検索
                </h2>
            </header>
            <form action="/products/search" accept-charset="UTF-8" method="get">
                <input name="utf8" type="hidden" value="✓">
                <input class="search__query" name="keyword" id="search_word" placeholder="作品名で検索" type="text" value="">
            </form>
            <form accept-charset="utf-8" action="/" class="js-search-submit" method="get">
            </form>
        </div>
    </article>
    <article class="section">
        <div class="container">
            <header class="header header--section">
                <h2 class="text-middle">
                    <i class="icon-movie color-gray-light"></i>検索結果
                </h2>
            </header>
            <ul id="search_result" class="listview js-lazy-load-images">

            </ul>
        </div>
    </article>
</div>

<script src="/static/js/search.js"></script>

{{ end }}